{% extends 'base.html' %}

{% block title %}Tasks{% endblock title %}

{% block content %}
<h1>Tasks</h1>
<ul>
    {% for task in tasks %}
    <li>
        <a class="" data-bs-toggle="collapse" href="#descCollapse-{{ task['id'] }}" role="button" aria-expanded="false" aria-controls="descCollapse-{{ task['id'] }}">
            {{ task["id"] }} - {{ task["summary"] }}
        </a>
        <div class="collapse" id="descCollapse-{{ task['id'] }}">
            <p>{{ task["description"] }}</p>
            <a class="btn btn-sm btn-secondary" data-bs-toggle="collapse" href="#editForm-{{ task['id'] }}" role="button" aria-expanded="false" aria-controls="editForm-{{ task['id'] }}">Edit</a>
            <form method="post" action="{{ url_for('delete_task', pk=task['id']) }}">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            
            <div class="collapse mt-3" id="editForm-{{ task['id'] }}">
                <form method="post" action="{{ url_for('edit_task', pk=task['id']) }}">
                    <div class="mb-3">
                        <label for="summary-{{ task['id'] }}" class="form-label">Summary</label>
                        <input type="text" class="form-control" id="summary-{{ task['id'] }}" name="summary" value="{{ task['summary'] }}">
                    </div>
                    <div class="mb-3">
                        <label for="description-{{ task['id'] }}" class="form-label">Description</label>
                        <textarea class="form-control" id="description-{{ task['id'] }}" name="description">{{ task['description'] }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock content %}